.video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: opacity 1s;

  &.hidden {
    opacity: 0;
    // visibility: hidden;
  }

  select {
    position: relative;
    font-size: 20px;
    &:before {
      content: 'Please select your camera';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
    }
    z-index: 5;

    &:disabled {
      display: none;
      z-index: 0;
    }
  }

  canvas, img {
    transform: translateX(-50%) scaleX(-1);
    height: 100vh;
    position: absolute;
    left: 50%;
    top: 0;
    pointer-events: none;
    z-index: 1;
  }

  img {
    z-index: 2;
    opacity: 1;
    mix-blend-mode: difference;
  }
}
