@mixin full {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: 'Source Sans Pro';
}

.background {
  width: 100%;
  height: 100%;
}

.video {
  @include full;
}

.debug {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 200px;
  height: 40px;
  background: white;
  color: black;
  z-index: 2;
}

@import 'style/_video.scss';
